@model PruebaMongo.Models.Product;

@{
}
<div style="display:flex; flex-direction:row; background-color:white;" class="container">


    <form method="post" asp-action="Modificar" asp-controller="Product">
        <table class="table container; padding-top:50px">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Categoria</th>


                </tr>
            </thead>

            <tbody>

                <tr>
                    <td><input type="hidden" name="Id" value="@Model.Id"/></td>
                    <td><input type="text" name="Nombre" value="@Model.Name" /></td>
                    <td><input type="number"name="Stock" value="@Model.Stock" /></td>
                    <td><input type="text" name="Categoria" value="@Model.Category" /></td>
                </tr>

                <tr>
                    <td><button type="Submit" class="btn-secondary">GUARDAR CAMBIOS</button></td>
                    <td><a class="btn-secondary" href="/Product/Eliminar/@Model.Id">ELIMINAR</a></td>
                </tr>

            </tbody>
        </table>
        
    </form>
</div>

